.agenda-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.agenda-container table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    position: relative;

}

.agenda-container table th:nth-child(1) {
    width: 60px;
}

.agenda-container table td {
    word-wrap: break-word;
    text-align: center;
    border-spacing: 0 15px;
}

.agenda-container table tbody,
.agenda-container table thead {
    border: 2px solid black;
    margin-bottom: 20px;

}

.agenda-container table thead th {
    position: sticky;
    top: 0;
    background-color: rgb(200, 232, 159);
    border: 2px solid black;
}

.agenda-container table td,
.agenda-container table th {
    padding: 7px;
    border: 1px solid gray;

}

.agenda-container table th {
    background-color: rgb(230, 237, 221);
    border: 2px solid black;
}

.agenda-container table td.interact {
    background-color: white;

}

.agenda-container table td.interact.eu {
    background-color: rgb(226, 239, 211);
}

.agenda-container table td.interact:hover {
    background-color: rgb(203, 224, 235);
    cursor: pointer;
}

.agenda-container table td.interact.eu:hover {
    background-color: rgb(245, 188, 165);
}

.seleciona-semanas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seleciona-semanas input {
    width: 50px;
    font-size: 0.8rem;
}