* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    box-sizing:border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    --largura: 1400px;
}

main {
    padding: 20px;
    flex-grow: 1;
}

main.normal-main {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    max-width: var(--largura);
    width: 100%;
    padding: 30px 40px;
}

a.botao, button {
    text-decoration: none;
    color: black;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    border-radius: 7px;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

a.botao:hover, button:hover {
    background: rgb(204, 204, 204);
}

a.destaque, button.destaque {
    background-color: rgb(0, 74, 172);
    color: white;
    border-color: transparent;
}

a.destaque:hover, button.destaque:hover {
    background-color: rgb(0, 49, 112);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 350px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select {
    font-size: 1rem;
    padding: 7px 10px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    background-color: white;
}

form button {
    margin-top: 10px;
}

a.main-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.aviso-erro {
    background-color: rgb(255, 191, 191);
    padding: 10px 20px;
    border: 2px solid rgb(255, 130, 130);
}

.aviso-erro::before {
    content: "❌ ";
}

button.deleta {
    background-color: rgb(183, 0, 0); 
}

h3 {
    margin: 10px 0;
}

.participantes {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.participantes > ul {
    padding-left: 10px;
}

.participantes > ul > li {
    padding-left: 0;
    list-style: none;
}

.participantes > ul > li::before {
    content: "- ";
}

