.login-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

main.login {
    border: 2px solid rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    flex-grow: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.login h1 {
    font-weight: normal;
    margin-bottom: 15px;
}

.login h2 {
    font-weight: normal;
    margin: 10px 0;
}

.login small {
    margin: 10px 0;
}

.login form {
    padding: 10px 20px;
}


